@import "mixins";

.container-carousel {
  padding: 5px;
}

.carousel {
  margin-top: 10px;
}

.recomend {
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  .option {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .data {
    padding: 0 15px;
  }
}

.control-slider {
  margin-top: 10px;
}

.slide {
  width: 100%;
  padding-bottom: 5px;
}

.buttom-control {
  border: 1px solid #2a2f39;
  color: #2a2f39;
  border-radius: 50px;
  height: 40px;
  width: 40px;
  text-align: center;
  font-size: 18px;
  padding: 5px 0;
}

.buttom-control:hover {
  cursor: pointer;
}

.shadow-img {
  border-top: 1px solid #F2F3F7;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 3px 3px rgba(0, 0, 0, 0.12);
  border-radius: 3px;
}

.name-store-slider {
  font-size: 0.75rem;
}

@include mobile-extra {
  .buttom-control {
    height: 35px;
    width: 35px;
    padding: 2px 5px;
  }
  .is-two-thirds-mobile {
    max-width: 66%;
  }
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .slick-slide img {
    width: 75px;
    height: 75px;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  .slick-slide img {
    width: 75px;
    height: 75px;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  .slick-slide img {
    width: 80px;
    height: 80px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  .slick-slide img {
    width: 100px;
    height: 100px;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .slick-slide img {
    width: 120px;
    height: 120px;
  }
}