<h4 class="title-section-ngx has-margin-t-5"> {{title}}</h4>
<div class="columns is-flex recomend">
  <div class="column option is-paddingless" (click)="slickModal.slickPrev()">
    <p class="buttom-control">
      <i class="left-open-bigicon-"></i>
    </p>
  </div>
  <div class="column is-10 is-three-quarters-mobile is-paddingless">
    <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
      <div ngxSlickItem *ngFor="let slide of imageData" class="slide" (click)="goToDetail(slide)">
        <img class="shadow-img" *ngIf="isStore" src="{{url+slide.urlLogoStore}}" title="{{slide.nameStore}}">
        <div *ngIf="slide.renderedInitials" class="logo-name">{{slide.logoName}}</div>

        <div class="name-store-slider" *ngIf="isStore">{{slide.nameStore}}</div>
        <img class="shadow-img" *ngIf="!isStore" src="{{url+slide.urlImageProduct}}" title="{{slide.nameProduct}}">

        <div class="name-store-slider" *ngIf="!isStore">{{slide.nameProduct}}</div>
        <div class="barraBottom"></div>
      </div>
    </ngx-slick-carousel>
  </div>
  <div class="column option is-paddingless">
    <div class="" (click)="slickModal.slickNext()">
      <p class="buttom-control">
        <i class="right-open-bigicon-"></i>
      </p>
    </div>
  </div>
</div>
