@import "_utils.scss";
@import "mixins";
$themes: $themes;

@each $key in $themes {
  .#{$key} .input-search {
    &:focus {
      border: 1px solid component-color($component: btn-primary, $state: color, $theme: $key);
    }
  }
}

.input-search {
  border: solid 1px $primary;
  input {
    border: none;
    line-height: 35px;
    font-size: 1rem;
    width: 100%;
    padding: 0 4px 0 10px;
  }
  button {
    border: none;
    background: transparent;
    color: $primary;
  }
}