@import "_utils.scss";
@import "mixins";
$themes: $themes;

@each $key in $themes {
  .#{$key} .input-search {
    &:focus {
      border: 1px solid component-color($component: btn-primary, $state: color, $theme: $key);
    }
  }
}

.button-vermas {
  padding-bottom: 45px;
}
