.options-menu {
    .option {
        margin: 0 15px;
        line-height: 50px;
        a {
            color: #fff;
        }
        &.marked {
            a {
                padding: 10px;
                border: 1px solid rgba(255, 255, 255, 0.5);
                transition: all 0.2s;
                &:hover {
                  background: #d73851;
                  border: 1px solid #d73851;
                }
            }
        }
    }
}