@import "mixins";

.navbar-brand {
  .logo-icon {
    position: relative;
    top: -3px;
    margin-right: 5px;
  }
}

@include touch {
  .navbar-menu {
    background: none;
    box-shadow: none;
    display: block;
    .navbar-end {
      display: flex;
      justify-content: flex-end;

    }
  }
}
