@import "mixins";

@include touch {
  .navbar-menu {
    background: none;
    box-shadow: none;
    display: block;
    .navbar-end {
      display: flex;
      justify-content: flex-end;

    }
  }
}
