<nav class="navbar is-dark is-fixed-top" [ngClass]="{'is-transparent': isMainSearcher}" title="level" *ngIf="!isBussines">
  <div class="container is-flex">
    <div class="navbar-brand" *ngIf="!isMainSearcher">
      <a class="navbar-item" href="/">
        <img class="logo-icon" src="assets/img/logoNGXWhite.png" width="20" height="15">
        <img class="is-hidden-mobile" src="assets/img/textNGXWhite.png" width="65" height="15">
      </a>
    </div>
    <div class="navbar-menu">
      <div class="navbar-start">
        <!-- <countries-list [isMainSearch]="isMainSearcher"></countries-list> -->
      </div>
      <div class="navbar-end">
        <input-seeker [classs]="'no-main'" *ngIf="!isMainSearcher"></input-seeker>
        <app-profile-options></app-profile-options>
      </div>
    </div>
  </div>
</nav>
