
<!-- Desktop -->
<nav class="navbar d-none d-sm-block" *ngIf="!isMainSearcher && !isBussines">
  <div class="container">
    <div class="columns">
      <countries-list class="column is-three-quarters-mobile is-two-thirds-tablet is-one-quarter-fullhd" [isMainSearch]="isMainSearcher"></countries-list>
      <input-seeker class="column is-9" [classs]="'input-header'"></input-seeker>
      <!-- <div class="column col-sm-4 col-md-5 col-lg-4">
        <profile-options></profile-options>
      </div> -->
    </div>
  </div>
</nav>

<!-- Mobile -->
<!-- <div class="container d-sm-none header" *ngIf="!isMainSearcher && !isBussines">
  <div class="row flex-wrap align-content-center">
    <countries-list class="col-2" [isMainSearch]="isMainSearcher"></countries-list>
    <div class="col-10"> -->
      <!-- <profile-options></profile-options> -->
    <!-- </div>
  </div>
  <div class="row"> -->
    <!-- <input-seeker-header class="col-12"></input-seeker-header> -->
  <!-- </div>
</div> -->

<!-- Without session -->
<nav class="navbar is-transparent is-fixed-top" title="level" *ngIf="isMainSearcher && !isBussines">
  <!-- <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" (click)="showMenu=!showMenu" [ngClass]="{'is-active': showMenu}">
    <span aria-hidden="true"></span>
    <span aria-hidden="true"></span>
    <span aria-hidden="true"></span>
  </a> -->
  <div class="container">
    <!-- <div class="navbar-menu" [ngClass]="{'is-active': showMenu}"> -->
    <div class="navbar-menu">
      <div class="navbar-start">
        <!-- <countries-list [isMainSearch]="isMainSearcher"></countries-list> -->
      </div>
      <div class="navbar-end">
        <app-profile-options></app-profile-options>
      </div>
    </div>

  </div>
  <!-- <div class="container level">
    <div class="level-right bd-structure-item" title="level-right">
      <profile-options></profile-options>
    </div>
  </div> -->
</nav>


<!-- <nav class="navbar">
  <div class="container">
    <div class="columns level" *ngIf="isMainSearcher && !isBussines">
      <div class="column is-2 is-half">
        <countries-list [isMainSearch]="isMainSearcher"></countries-list>
      </div>
      <div class="column is-10 level-right">
        <profile-options></profile-options>
      </div>
    </div>
  </div>
</nav> -->

<!-- <div class="container header" *ngIf="isMainSearcher && !isBussines">
  <div class="row flex-wrap align-content-center">
    <countries-list [isMainSearch]="isMainSearcher"></countries-list>
    <div class="col-10 col-md-9 col-lg-9">
      <profile-options></profile-options>
    </div>
  </div>
</div> -->