
@import "mixins"; 
.input-seeker {
  margin-top: 5px;
  height: auto;
  width: 100%;
  margin: auto;
  overflow: hidden;
  box-shadow: 4px 8px 16px rgba(0, 0, 0, 0.3);
  &.input-header {
    width: 100%;
  }
  .category-search-span{
    width:30%;
    .category-search{
      border:none;
      width:100%;
      font-size:13px;
      font-family:arial,sans-serif;
    }
  }
  .columns {
    width: 100%;
  }
  .main-search {
    overflow: hidden;
    padding: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .3);
    .input-search { 
      font-size: 1rem;
      border: none;
      width: 100%;
      line-height: 50px;
      padding: 0 4px 0 10px;
    }
    .option-search {
      background: #ef3f5a;
      border: 1px solid #ef3f5a;
      color: #fff;
      padding: 0 30px;
      cursor: pointer;
      transition: all 0.2s;
      &:hover {
        background: #d73851;
        border: 1px solid #d73851;
      }
    }
  }
}

@include mobile {
  .input-seeker {
    width: 100%;
  }
}