/* ---- style 17-03-2018 ----*/
.input-seeker {
  margin-top:5px;
  height:42px;
  width: 33%;
  margin: auto;
  border-radius:3px;
  overflow:hidden;
  border: 1px solid white;
  background-color: white;
  input {
    background-color:#fff;
  }
  .category-search-span{
    width:30%;
    .category-search{
      border:none;
      width:100%;
      font-size:13px;
      font-family:arial,sans-serif;
    }
  }
  .icon-search{
    font-size:16px;
  }
}

/* ==== MEDIA QUERIES ==== */
@media (max-width: 575px) {
  /* Input Seeker*/
  .input-seeker{
    margin:0 auto;
    width:95%;
    border-radius:3px;
    height:35px;
    overflow:hidden;
    border: 1px solid white;
    background-color: white;

  }
}
