
@import "mixins"; 
.input-seeker {
  margin-top: 5px;
  height: auto;
  width: 100%;
  margin: auto;
  overflow: hidden;
  box-shadow: 4px 8px 16px rgba(0, 0, 0, 0.3);
  &:not(.no-main) {
    .category {
      display: none;
    }
  }
  .content {
    width: 100%;
  }
  .main-search {
    width: 100%;
    overflow: hidden;
    padding: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .3);
    .input-search { 
      font-size: 1rem;
      border: none;
      width: 100%;
      line-height: 50px;
      padding: 0 4px 0 10px;
    }
    .option-search {
      background: #ef3f5a;
      border: 1px solid #ef3f5a;
      color: #fff;
      padding: 0 30px;
      cursor: pointer;
      transition: all 0.2s;
      &:hover {
        background: #d73851;
        border: 1px solid #d73851;
      }
    }
  }

  &.no-main {
    padding-top: 7px;
    .category {
      &.select {
        width: 30%;
        select {
          border-radius: 0;
          height: 35px;
        }
      }
    }
    .main-search {
      .input-search {
        line-height: 35px;
      }
      button {
        background: white;
        border: none;
        cursor: pointer;
      }
    }
  }
}

@include mobile {
  .input-seeker {
    width: 100%;
  }
}