$colorPrice: rgb(252, 17, 17);
$colorInfo: #0066c0;
.picture {
  img {
    border: 1px solid rgb(217, 217, 219);
    width: 310px;
    height: 310px;
  }
}

.product-data {
  .product-title {
    font-size: 1.5rem;
    padding-bottom: 1rem;
    color: #0e0e0eee;
  }
  .qualification {
    margin-right: 0.3rem;
    .qualification-text {
      margin: 0;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 0.95rem;
      color: #fff;
      padding: 4px 8px;
      border-radius: 3px;
      background-color: #0fb96a;
    }
  }
  .div-line {
    border-top: 1px solid rgb(217, 217, 219);
  }
  .title-dproduct {
    font-family: Arial, sans-serif;
    font-weight: bold;
    color: black;
  }
  .dp-img-store {
    width: 25px;
    height: 25px;
    vertical-align: middle;
  }
  .price-product {
    font-size: 1.466rem;
    color: #29303b;
    color: $colorPrice;
    font-weight: bold;
    &.line {
      text-decoration: line-through;
      color: #686f7a;
      font-size: 1rem;
    }
  }
  .description-dproduct {
    color: $colorInfo;
    &.is-link {
      &:hover {
        text-decoration-line: underline;
        color: orange;
      }
    }
  }

  .options {
    .dp-icon-color {
      color: $colorInfo;
    }
  }
}

.product-rate {
  font-size: 1.566rem;
  color: rgb(241, 186, 4);
  font-weight: bold;
}

.description {
  .title-tab {
    color: rgb(37, 37, 37);
  }
  
  .content-tab {
    color: rgb(100, 99, 99);
  }
}
