<div class="columns">
  <div class="column is-6">
    <div class="picture d-flex justify-content-center">
      <img class="" src="{{productSelected}}">
    </div>
  </div>

  <div class="column is-6 product-data">
    <h3 class="product-title">{{data.nameProduct}}</h3>
    <div class="is-flex has-margin-b-6">
      <p class="qualification">
        <span class="qualification-text">{{ data.starsProduct }}</span>
      </p>
      <app-rating [rate]="data.starsProduct" [readOnly]="true"></app-rating>
    </div>

    <div class="d-none d-sm-block div-line"></div>
    <div class="has-padding-t-6">
      <span class="title-dproduct">Precio: </span>
      <ng-container *ngIf="data.percentDiscount==0">
        <span *ngIf="data.priceProduct > 0" class="price-product">{{ data.priceProduct|number:'1.2-2' }} Bs.</span>
      </ng-container>
      <ng-container *ngIf="data.percentDiscount != 0">
        <span *ngIf="data.priceProduct > 0" class="price-product line">{{ data.priceProduct|number:'1.2-2' }} Bs.</span>
        <span *ngIf="data.priceProduct > 0" class="price-product">{{data.newPrice|number:'1.2-2'}} Bs.</span>
      </ng-container>
    </div>

    <div>
      <span class="title-dproduct">{{ data.store.typeStore || 'Tienda' }}: </span>
      <a (click)="goToStore()">
        <img class="dp-img-store" src="{{ url+data?.store?.urlLogoStore }}">
        <span class="description-dproduct is-link"> {{ data?.store?.nameStore }}</span>
      </a>
    </div>

    <div>
      <span class="title-dproduct">Última actualización:</span>
      <span class="description-dproduct"> {{ data.lastUpdate | date }}</span>
    </div>


    <div class="options is-flex">
      <div *ngIf="followingReady&&!isFollowing" class="col-1" (click)="followProduct()">
        <span class="dp-icon-color"><abbr title="Seguir">
            <i class="ok-outlineicon-"></i>
          </abbr>
        </span>
      </div>

      <div *ngIf="followingReady&&isFollowing" class="col-1 product-follow" (click)="followProduct()">
        <span class=""><abbr title="Siguiendo">
            <i class="ok-outlineicon-"></i>
          </abbr>
        </span>
      </div>

      <div class="col-1">
        <span class="dp-icon-color" (click)="shareProduct()">
          <abbr title="Compartir">
            <i class="facebookicon-"></i>
          </abbr>
        </span>
      </div>

      <div *ngIf="isLogged" class="col-1" (click)="rateProduct(scoreContent)">
        <span class="dp-icon-color"><abbr title="Tú calificación">
            <i class="star-2icon-"></i>
          </abbr>
        </span>
      </div>

      <div *ngIf="!isLogged" class="col-1" (click)="noLogged()">
        <span class="dp-icon-color"><abbr title="Tú calificación">
            <i class="star-2icon-"></i>
          </abbr>
        </span>
      </div>
    </div>

    <div class="description has-margin-t-5">
      <my-tabs>
        <my-tab [tabTitle]="'Descripción'">
          <span class="title-tab">{{data.descriptionProduct}}</span>
          <div *ngFor="let item of data.variants" class="content-tab">
            <span class="title-tab">{{item.key}} :</span> {{item.value}}
          </div>
        </my-tab>
        <my-tab tabTitle="Oferta y Envío">
          <div *ngIf="data.offer" class="content-tab">
            <div>
              <span class="title-tab">Fecha de la oferta:</span> {{data.offer.dateBegin|date}} -
              {{data.offer.dateEnd|date}}
            </div>
            <div>
              <span class="title-tab">Porcentaje de descuento:</span>
              {{data.offer.percentDiscount|number:'1.1-1'}}%
            </div>
          </div>
          <div *ngIf="!data.offer" class="content-tab">Aun no hay Ofertas</div>
        </my-tab>
      </my-tabs>
    </div>
  </div>
</div>

<ng-template #scoreContent>
  <app-rating [(rate)]="currentRate"></app-rating>
</ng-template>
