<div class="container-contact has-padding-t-3 has-padding-b-3">
  <div class="container">
    <div class="title-section white">
      <div class="d-flex justify-content-center">
        <span class="title-name">Contacto</span>
      </div>
      <div class="d-flex justify-content-center">
        <div class="title-line"></div>
      </div>
      <div class="d-flex justify-content-center text-nro-sucursales">({{countBranchStore}}&nbsp;
        <span *ngIf="countBranchStore==1">sucursal)</span>
        <span *ngIf="countBranchStore>1">sucursales)</span>
      </div>
    </div>
    <!-- Address business store -->
    <div class="columns">
      <div class="column">
        <div id="map" class="mapa"></div>
      </div>
      <div class="column data-branch">
        <div *ngFor="let branchStore of data; let idx = index" class="branch">
          <div class="has-text-weight-bold"> SUCURSAL {{idx+1}} </div>
          <div class="detail">
            <div (click)="selectBranchStore(branchStore)" class="detail">
              <i class="location-1icon-"></i> <span>{{branchStore.address}}</span>
            </div>
            <div class=""><i class="phone-2icon-"></i> <span>Tel.{{branchStore.cellphoneBranchStore}}</span></div>

            <p class="has-margin-t-4 has-text-weight-bold">HORARIOS DE ATENCIÓN</p>

            <div *ngIf="mondayToFriday">
              <i class="clockicon-"></i> Lunes a Viernes
              <span>{{mondayToFriday.hourBeginOne}} - {{mondayToFriday.hourEndOne}}</span>,
              <span>{{mondayToFriday.hourBeginTwo}} - {{mondayToFriday.hourEndTwo}}</span>
            </div>
            <div *ngIf="saturday">
              <i class="clockicon-"></i> Sábado
              <span>{{saturday.hourBeginOne}} - {{saturday.hourEndOne}}</span>,
              <span>{{saturday.hourBeginTwo}} - {{saturday.hourEndTwo}}</span>
            </div>
            <div *ngIf="sunday">
              <i class="clockicon-"></i> Domingo
              <span>{{sunday.hourBeginOne}} - {{sunday.hourEndOne}}</span>,
              <span>{{sunday.hourBeginTwo}} - {{sunday.hourEndTwo}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End Address business store -->
  </div>
</div>
