<div class="container-contact has-padding-t-3 has-padding-b-3">
  <div class="container">
    <app-title-section title="Contacto" classs="white"></app-title-section>
    <!-- Address business store -->
    <div class="columns">
      <div class="column">
        <div id="map" class="mapa"></div>
      </div>
      <div class="column data-branch">
        <div *ngFor="let branchStore of data; let idx = index" class="branch">
          <div class="has-text-weight-bold has-text-centered"> SUCURSAL {{idx+1}} </div>
          <div class="detail">
            <div (click)="selectBranchStore(branchStore)" class="detail">
              <i class="location-1icon-"></i> <span>{{branchStore.address}}</span>
            </div>
            <div class=""><i class="phone-2icon-"></i> <span>Tel.{{branchStore.cellphoneBranchStore}}</span></div>

            <p class="has-margin-t-4 has-text-weight-bold has-text-centered">HORARIOS DE ATENCIÓN</p>

            <div *ngIf="mondayToFriday">
              <i class="clockicon-"></i> Lunes a Viernes
              <span>{{mondayToFriday.hourBeginOne}} - {{mondayToFriday.hourEndOne}}</span>,
              <span>{{mondayToFriday.hourBeginTwo}} - {{mondayToFriday.hourEndTwo}}</span>
            </div>
            <div *ngIf="saturday">
              <i class="clockicon-"></i> Sábado
              <span>{{saturday.hourBeginOne}} - {{saturday.hourEndOne}}</span>,
              <span>{{saturday.hourBeginTwo}} - {{saturday.hourEndTwo}}</span>
            </div>
            <div *ngIf="sunday">
              <i class="clockicon-"></i> Domingo
              <span>{{sunday.hourBeginOne}} - {{sunday.hourEndOne}}</span>,
              <span>{{sunday.hourBeginTwo}} - {{sunday.hourEndTwo}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End Address business store -->
  </div>
</div>
