@import "_variables";
@import "_utils.scss";
@import "_mixins.scss";
$themes: $themes;

@each $key in $themes {
  .#{$key} .container-actions {
    background-color: component-color($component: btn-primary, $state: color, $theme: $key);
  }

  .#{$key} .container-actions {
    .container {
      background-color: component-color($component: btn-primary, $state: color, $theme: $key);
    }
  }
}

/*===   19/04/2018   ===*/
.container-actions {
  /* padding-top:45px; */
  padding-bottom: 0px;
  color: #fff;
  overflow-x: hidden;

  .container {
    .container-description-store {
      text-align: justify;
    }

    .video {
      iframe {
        min-height: 380px;
      }
    }
  }
}

.video {
  .video-play {
    position: relative;
    height: 300px;

    .button-play {
      width: 80px;
      height: 80px;
      border-radius: 50%;
      background: rgb(17, 17, 17);
      @include center;
      cursor: pointer;

      .icon-play {
        border-top: 12px solid transparent;
        border-left: 18px solid #fff;
        border-bottom: 12px solid transparent;
        @include center;
      }

      .button-animation {
        background: #000;
        animation: waves 2s linear infinite;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        opacity: 0;
        z-index: -1;
        pointer-events: none;
      }
    }
  }
}

.modal-video {
  padding: 0 !important;

  .show-video {
    min-height: 500px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    position: absolute;
    background-color: black;
  }
}

@keyframes waves {
  0% {
    opacity: 0.4;
  }

  100% {
    opacity: 0;
    transform: scale(1.8);
  }
}

.title-section-store {
  font-family: "open_sansbold";
  font-size: 1.6rem;
  padding: 0;
  margin: 0;
}

.line-title {
  width: 5%;
  border-bottom: 3px solid #fff;
}

.container-actions-a {
  margin-top: 50px;
}

.text-center {
  font-family: Arial, sans-serif;
  padding: 25px 0 20px;
  font-size: 0.8rem;
  width: 110px;
  height: 110px;
  border: 2px solid #fff;
  border-radius: 50%;
}

.text-center:hover {
  cursor: pointer;
  color: rgb(19, 127, 133);
  border: 3px solid rgb(19, 127, 133);
}

.paragraph-store {
  width: 80%;
  text-align: center;
  margin: 40px auto;

}

.parrafo-regular {
  font-family: "open_sansregular";
  font-size: 16px;
}

/*===   Media Queries   ===*/
@media (max-width: 575px) {
  .line-title {
    width: 10%;
  }

  .text-center {
    font-family: Arial, sans-serif;
    padding: 20px 0 20px;
    font-size: 0.6rem;
    width: 75px;
    height: 75px;
    border: 2px solid #fff;
    border-radius: 50%;
  }

  .title-section-store {
    font-size: 1.2rem;
  }

}
