<div class="container has-text-centered has-padding-t-2 has-padding-b-2">
  <div class="title-section">
    <p class="title-name">Sobre nosotros</p>
    <div class="title-line"></div>
  </div>
  <p class="has-margin-2">{{data.store.descriptionStore}}</p>
</div>

<!--Sección video e información del negocio-->
<div class="info-video">
  <div class="container">
    <div class="columns">
      <div class="column is-6 is-flex flex-center has-text-centered">
        <div class="is-flex-columns">
          <p class="description is-marginless has-padding-b-1">"{{data.store.descriptionVideo}}"</p>
          <button class="button is-default is-outlined button-ngx is-transparent has-text-white" (click)="triggerScrollTo('contact')">Visítanos</button>
        </div>
      </div>
      <div class="column is-6">
        <!-- If video exist -->
        <div class="video-play">
          <!-- <div *ngIf="data.store.urlVideo" class="video-play"> // THIS IS TEMPORAL -->
          <!-- HERE IT'S NEED CODE VIDEO -->
          <img src="https://img.youtube.com/vi/88NPJsceU_8/sddefault.jpg" alt="">
          <div class="button-play" (click)="showVideo(video)">
            <span class="icon-play"></span>
            <div class="button-animation"></div>
          </div>
        </div>

        <!-- If video is null // THIS IS TEMPORAL-->
        <!-- <div *ngIf="!data.store.urlVideo" class="video-play marcar">
          <img src={{url+data.store.urlVideoImage}} alt="" width="100%" height="100%">
        </div> -->
      </div>
    </div>
  </div>
</div>

<!-- video -->
<ng-template #video>
  <div class="video">
    <iframe width="100%" [src]="urlVideo | safe: 'resourceUrl'" frameborder="0" allowfullscreen class="show-video"></iframe>
  </div>
</ng-template>
