<div class=" content-search-main">
        <div class="has-text-centered">
                <img class="img-ngx" src="assets/img/lNegux.png">
                <input-seeker></input-seeker>
        </div>
        <div class="columns">
                <div class="column is-4 has-text-centered is-half is-offset-one-quarter">
                        <div class="field is-grouped is-grouped-centered is-4 justify-content-between">
                                <div class="has-text-centered">
                                        <i class="desktopicon-"></i>
                                        <br>
                                        <span>Electrodo...</span>
                                </div>
                                <div class="has-text-centered">
                                        <i class="food-1icon-"></i>
                                        <br>
                                        <span>Comidas</span>
                                </div>
                                <div class="has-text-centered">
                                        <i class="toolsicon-"></i>
                                        <br>
                                        <span>Herramientas</span>
                                </div>
                                <div class="has-text-centered">
                                        <i class="bicycleicon-"></i>
                                        <br>
                                        <span>Deportes</span>
                                </div>
                        </div>
                </div>
        </div>
        <br>
        <div class="row">
                <div class="col-12   col-md-6 offset-md-3 col-lg-6 offset-lg-3 fos-light main-text">
                        Ahora es más facil localizar el
                        <br>producto que necesitas
                </div>
        </div>
</div>
        <!-- <div class="container-fluid content-search-main">
                <div  class="row">
                        <div  class="col-12 col-md-4 offset-md-4 col-lg-4 offset-lg-4 d-flex justify-content-center">
                                <div><img class="img-ngx" src="assets/img/lNegux.png"></div>
                        </div>
                </div>
                 <div class="row ">
                    <div class="col-12 col-md-4 offset-md-4 col-lg-4 offset-lg-4">
                      <input-seeker></input-seeker>
                    </div>
                </div>
                <br>
                <div class="d-none d-md-block">
                    <div class="row">
                            <div class="col-md-4 col-lg-4 offset-md-4 offset-lg-4 d-md-inline-block d-md-flex justify-content-between">
                                        <div class="d-md-inline-block text-md-center"><i class="desktopicon-"></i><br><span>Electrodo...</span></div>
                                        <div class="d-md-inline-block text-md-center"><i class="food-1icon-"></i><br><span>Comidas</span></div>
                                        <div class="d-md-inline-block text-md-center"><i class="toolsicon-"></i><br><span>Herramientas</span></div>
                                        <div class="d-md-inline-block text-md-center"><i class="bicycleicon-"></i><br><span>Deportes</span></div>
                            </div>
                    </div>
                </div>
                <br>
                <div class="row">
                        <div class="col-12   col-md-6 offset-md-3 col-lg-6 offset-lg-3 fos-light main-text">
                                Ahora es más facil localizar el<br>producto que necesitas
                        </div>
                </div>
        </div> -->
