<div #content class="search-main">
  <div class="bg"></div>
  <div class="bg bg2"></div>
  <div class="bg bg3"></div>
  <div class="bg-image"></div>
  <div class="cover"></div>
  <div class="content-search-main">
    <div class="has-text-centered">
      <img class="img-ngx has-margin-b-4" src="assets/img/lNegux.png">
      <input-seeker></input-seeker>
      <div class="columns is-flex">
        <div class="column is-one-quarter-mobile">
          <div class="option is-flex-column">
            <i class="desktopicon-"></i>
            <span class="is-hidden-mobile-extra">Electrodomésticos</span>
          </div>
        </div>
        <div class="column is-one-quarter-mobile">
          <div class="option is-flex-column">
            <i class="food-1icon-"></i>
            <span class="is-hidden-mobile-extra">Comidas</span>
          </div>
        </div>
        <div class="column is-one-quarter-mobile">
          <div class="option is-flex-column">
            <i class="toolsicon-"></i>
            <span class="is-hidden-mobile-extra">Herramientas</span>
          </div>
        </div>
        <div class="column is-one-quarter-mobile">
          <div class="option is-flex-column">
            <i class="bicycleicon-"></i>
            <span class="is-hidden-mobile-extra">Deportes</span>
          </div>
        </div>
      </div>
    </div>
    <div class="main-text has-margin-t-4">
      <p>Ahora es más facil localizar el</p>
      <p>producto que necesitas</p>
    </div>
  </div>
</div>
