/* Colors */

$desktop: 960px;
$tablet: 768px;
$mobile-large: 640px;
$mobile: 480px;
$mobile-small: 300px;

/* Colors */

$secondary: rgb(57, 63, 75);
$navbar: #151515;

$primary-dark: black;
$secondary-dark: blue;
$navbar-dark: black;

$primary-light: purple;
$secondary-light: brown;
$navbar-light: purple;


/* Variables */

$color-primary: #179da5;
$color-dark: #2A2f39;
$font: 'titillium-light';

$primary: $color-primary;
// $link:;
// $info:;
// $success:
// $warning:
// $danger:
$dark: $color-dark;
// $light:

$family-primary: $font;