@import "_utils.scss";
$themes: $themes;

@each $key in $themes {
  .#{$key}
  .title-line{
    border-bottom: 3px solid component-color($component: btn-primary, $state: color, $theme: $key);
  }
}

/* ----- Title section ----- */
.title-section {
  padding-bottom: 40px;
  .title-name {
    font-family: 'open_sansbold';
    font-size: 1.6rem;
    padding-top: 45px;
    margin: auto;
  }
  .title-line{
    width:5%;
    &.w-10 {
      width: 10%;
    }
  }
  &.white {
    .title-name {
      color: white !important;
    }
    .title-line {
      border-color: white;
    }
  }
}

.mary {
  .title-section {
    .title-line {
       border-bottom: 3px solid orange;
    }
  }
}

/* ----- End title section ----- */
@media (max-width: 575px) {
  .title-section {
    .title-name {
      font-size: 1.2rem;
    }
    .title-line {
      width: 10%;
    }
  }
}
.title-section-store {
    font-size: 1.2rem;
}
