@import "_variables";
$themes: "default", "dark", "light";
$theme: (
  default: (
    btn-primary: (
      color: $primary,
      hover: darken($primary, 8%)
    ),
    btn-secondary: (
      color: $secondary,
      hover: $primary
    ),
    navbar: (
      color: $navbar,
      color-mobile: darken($navbar, 10%)
    ),
    button: (
      hover: pink,
      border: blue,
      focus: purple,
      active-background: $primary
    )
  ),
  dark: (
    btn-primary: (
      color: $primary-dark,
      hover: darken($primary-dark, 8%)
    ),
    btn-secondary: (
      color: $secondary-dark,
      hover: $primary
    ),
    navbar: (
      color: $navbar-dark,
      color-mobile: darken($navbar-dark, 10%)
    ),
    button: (
      hover: red,
      border: green,
      focus: orange,
      active-background: $primary-dark
    )
  ),
  light: (
    btn-primary: (
      color: $primary-light,
      hover: darken($primary-light, 8%)
    ),
    btn-secondary: (
      color: $secondary-light,
      hover: $primary
    ),
    navbar: (
      color: $navbar-light,
      color-mobile: darken($navbar-light, 10%)
    ),
    button: (
      hover: pink,
      border: orange,
      focus: purple,
      active-background: $primary-light
    )
  )
);
