<div class="container-fluid">
  <div class="title-section">
    <div class="d-flex justify-content-center">
      <!-- <span class="title-name">Servicios</span> -->
      <span class="title-name">{{title}}</span>
    </div>
    <div class="d-flex justify-content-center">
      <div class="title-line"></div>
    </div>
  </div>
</div>

<div class="container c-color-bg">
  <div class="row d-flex justify-content-center">
    <div *ngFor="let item of images" class="col-12 col-sm-6 col-md-4 col-lg-4 package">
      <!-- <img src={{url+item.urlImage}} alt="">  -->
      <img src="../../../../../assets/img/AfichePrecios.png" alt="" class="">
    </div>
  </div>
</div>
