@import "_utils.scss";
@import "_mixins.scss";
$themes: $themes;

@each $key in $themes {
  .#{$key} .store-navbar {
    background-color: component-color($component: navbar, $state: color, $theme: $key);
  }
}

.navbar {
  background: transparent;
  color: white;
  height: 60px;
  transition: all 0.5s ease-in-out;
  &.menu-fixed {
    background-color: #fffefd;
    background-color: rgba(255, 254, 253, 0.97);
    border-radius: 0;
    box-shadow: 0 3px 9px rgba(8, 33, 30, 0.15);
    padding-top: 0;
    position: fixed;
    transition: background-color 0.5s ease-in-out,
    box-shadow 0.5s ease-in-out;
    a {
      color: #6d6d6d;
    }
  }

  .logo-negux {
    padding-top: 8px;
  }
  .navbar-item {
    span {
      &::after {
        display: block;
        content: "";
        border-bottom: 1px solid #6d6d66;
        transform: scaleX(0);
        transition: transform .25s ease-in-out;
      }
    }
    &:hover {
      span {
        &::after {
          transform: scaleX(1);
        }
      }
      background: transparent;
    }
  }
  &.active {
    background: linear-gradient(to top, rgba(255, 0, 0, 0), $primary);
    height: 100%;
    .navbar-menu {
      background-color: transparent;
      box-shadow: none;
    }
  }
  .navbar-burger {
    width: 3.5rem;
    span {
      left: calc(50% - 10px);
      width: 20px;
      height: 1.5px;
    }
    &:hover {
      background-color: transparent;
    }
  }
  a {
    color: white;
    font-size: 1rem;
  }
}

.stars-store {
  font-size: 1.566rem;
  color: rgb(241, 186, 4);
  font-weight: bold;
}

/*Background color for banner default*/
.color-for-image {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  background-color: #02a3dd;
  background-color: rgba(0, 0, 0, 0.65);
}

/*Gradient for banner personalized*/
.color-for-image-prz {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 16.666%;
  background: rgba(7, 7, 7, 0.17);
}

/*Banner Default block*/

.store-banner {
  height: 100vh;
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  a {
    color: white;
  }
  .banner-img {
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1;
    &::after {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 0;
      background: rgba(0, 0, 0, .5);
      // background: rgba(255, 254, 253, 0.8);
      content: " ";
    }
  }
  .main-information-store {
    text-align: center;
    width: 75%;
    @include center(45%);
    .container-logo {
      padding: 1rem;
      .img-logo {
        padding: 0;
        margin: 0;
        width: 150px;
        height: 150px;
        border-radius: 50%;
      }
    }
    .container-name-store {
      color: #fff;
      .name-store {
        font-family: Impact;
        font-size: 3.5rem;
        letter-spacing: 5px;
        line-height: 0.9;
      }
      .motto-store {
        font-size: 1.25rem;
        font-family: 'titillium-light';
      }
    }
  }
  .down-arrow {
    font-size: 40px;
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    animation: floating-arrow 2s ease-in-out infinite;
  }
}

@keyframes floating-arrow {
  0%{
    transform: translate(-50%, 0);
  }
  65%{
    transform: translate(-50%, 15px);
  }
  100%{
    transform: translate(-50%, 0);
  }
}


// TODO is this necessary?
.name-logo-default {
  font-size: 3.5rem;
  color: rgb(255, 255, 253);
  text-align: center;
  width: 150px;
  position: absolute;
  top: 25%;
}

.container-opinions-redes {
  position: absolute;
  z-index: 12;
  left: 15%;
  bottom: 10%;
  background-color: transparent;
  padding-top: 50px;
}

.number-stars {
  margin: 0;
  font-size: 0.95rem;
  color: #fff;
  padding: 4px 8px;
  border-radius: 3px;
  background-color: #0fb96a;
}

.n-opinions-store {
  font-size: 0.8rem;
  color: rgb(23, 157, 165);
  color: #fff;
}

.n-opinions-store:hover {
  text-decoration-line: underline;
  cursor: pointer;
  color: rgba(248, 189, 26, 0.863);
}

.icon-contact {
  width: 30px;
  height: 30px;
  border-radius: 50px;
  color: white;
  background-color: #2A2f39;
  position: relative;
  margin-right: 5px;

  a {
    color: white;
    @include center;

    &:hover {
      cursor: pointer;
    }
  }
}

/* Colores para contacto*/
.facebook {
  background-color: #3b5998;
}

.whatsapp {
  background-color: #3abe4c;
}

.twitter {
  background-color: #1ea1f3;
}

.phone {
  background-color: #e69852;
  background-color: rgb(23, 157, 165)
}

.qualify {
  background-color: #f59a09;
}

.follow {
  background-color: #02cc1d;
}

.unfollowed {
  background-color: #f71f1f;

  a {
    color: #fff;
    @include center;

    &:hover {
      cursor: pointer;
    }
  }
}

.share {
  background-color: #047ac4;
}

.instagram {
  background-color: #517EA2;
}



/*===   Media queries   ===*/
@include mobile-extra {
  .store-banner {
    .main-information-store {
      .container-name-store {
        .name-store {
          font-size: 1.8rem !important;
          position: relative;
          line-height: 1.5rem;
        }
      }
    }
  }
  
  .container-opinions-redes {
    margin-left: 12px;
    position: absolute;
    z-index: 12;
    left: 5%;
    bottom: 8%;
    background-color: transparent;
    padding-top: 5px;
  }
  
  /*Gradient for banner personalized mobile*/
  .color-for-image-prz {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 20%;
    background: rgba(7, 7, 7, 0.18);
  }
}

@include mobile {
  .menu-list {
    text-align: inherit !important;
    font-size: inherit !important;
  }
  .container-opinions-redes {
    margin-left: 12px;
    position: absolute;
    z-index: 12;
    left: 5%;
    bottom: 5%;
    background-color: transparent;
    padding-top: 5px;
  }
  .store-banner {
    .main-information-store {
      width: 100%;
      padding: 0 1.5rem 0 1.5rem;
      .container-logo {
        .img-logo {
          width: 140px;
          height: 140px;
        }
      }
      .container-name-store {
        .name-store {
          font-size: 2.5rem;
          letter-spacing: 2px;
        }
        .motto-store {
          font-size: 1rem;
        }
      }
    }
    .down-arrow {
      bottom: 10px;
      font-size: 30px;
    }
  }
}


@include tablet {
  .header {
    display: none !important;
  }

  .store-navbar {
    height: 90px;

    // background: linear-gradient(to top, rgba(255,0,0,0), #000);
    .menu-toggle {
      display: block;
    }

    .menu-list {
      position: static;
      display: none;

      li {
        margin-bottom: 1px;
        width: 100%;

        a {
          display: block;
          width: 100%;
        }
      }

    }
  }

  @each $key in $themes {
    .#{$key} .store-navbar {
      background: linear-gradient(to top, rgba(255, 0, 0, 0), component-color($component: navbar, $state: color-mobile, $theme: $key));
    }
  }
}
