<app-head-store *ngIf="headData" [data]="headData" id="home"></app-head-store>
<app-actions *ngIf="idStore&&headData" [data]="headData" id="actions"></app-actions>
<div class="container c-color-bg" id="catalogue">
  <div class="main-content" style="overflow-x: hidden;">
    <app-catalogue *ngIf="idStore && headData" [data]="headData"></app-catalogue>
  </div>
</div>
<app-team *ngIf="headData && headData.team.length > 0" id="team" [team]="headData.team"></app-team>

<!-- FACEBOOK -->
<!-- <div id="facebook-chat">
  <div id="fb-root"></div>
  <script>
    (function (d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s);
      js.id = id;
      js.src =
        'https://connect.facebook.net/es_LA/sdk/xfbml.customerchat.js#xfbml=1&version=v2.12&autoLogAppEvents=1';
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
  </script>

  <div class="fb-customerchat" attribution=setup_tool page_id="410562542433325">
  </div>
</div> -->