@import "_variables.scss";
@import "_mixins.scss";
// @import "theme.scss";

@import "_utils.scss";
@import 'bulma';

body {
  font-size: $font-size;
}
*:focus {
  outline: none;
}
h3 {
  font-size: 1.3rem !important;
}
h5 {
  font-size: 1.1rem !important;
  font-weight: bold !important;
}
p {
  margin-bottom: 1rem !important;
}

.button,
.input,
.textarea,
.select {
  border-radius: 0 !important;
}

.section {
  padding: 0.75rem !important;
}
.columns {
  margin: 0 !important;
}
.is-transparent {
  background: transparent !important;
}
.is-flex-column {
  display: flex;
  flex-direction: column;
}

.title-section {
  text-align: center;
  margin-bottom: 1.5rem;
  .title-name {
    font-size: 1.6rem;
  }

  .title-line {
    width: 3.5rem;
    border-bottom: 2.3px solid $primary;
    margin: auto;
  }
  &.white {
    .title-name {
      color: white !important;
    }

    .title-line {
      border-color: white;
    }
  }
}
.flex-center {
  align-items: center;
  justify-content: center;
}
.flex-center-v {
  align-items: center;
}

.button {
  transition: background-color 0.2s ease-in-out;
  &.is-default {
    &:focus {
      border-color: #b5b5b5 !important;
      box-shadow: none !important;
    }
  }
  &.button-ngx {
    padding: 10px 36px !important;
    text-transform: uppercase;
    border-radius: 0 !important;
    height: auto !important;
  }
}

@include mobile-extra {
  .is-hidden-mobile-extra {
    display: none !important;
  }
}

@include mobile-extra-sm {
  .column {
    &.is-full-mobile-extra {
      width: 100% !important;
    }
  }
}

/* ----- End title section ----- */
@media (max-width: 575px) {
  .title-section {
    .title-name {
      font-size: 1.2rem;
    }

    .title-line {
      width: 10%;
    }
  }
}

.title-section-store {
  font-size: 1.2rem;
}

.is-centered {
  text-align: center;
}
