@import "mixins";
.footer {
  padding: 0;
  background-color:#373737;
  color: white;
  font-size: 12px;
  a {
    color: $primary;
  }
  .container {
    overflow: hidden;
    padding-top: 50px;
    padding-bottom: 50px;

    .content-text {
      position: relative;
      padding: 0 0 0 3px;
      letter-spacing: 1px;
      .text {
        font-size: 10px;
      }
    }

    .is-list {
      display: flex;
      flex-direction: column;
    }

    .ngx-img img {
      width: 64px;
    }

    .social-footer {
      font-size: 1.3rem;
      justify-content: center;
    }
  }
}

@include mobile-extra {
  .footer {
    .columns {
      display: block !important;
      .column {
        text-align: center;
        justify-content: center;
        .is-pulled-right {
          float: none !important;
        }
      }
    }
  }
}